/* fonts and colors*/

html {
  background-color: #131313;
}
body,
input,
textarea {
  font-size: 18px;
  font-family: Archivo, sans-serif;
  line-height: 1.2em;
}

h1,
h2 {
  line-height: 1em;
  font-family: Archivo Black, sans-serif;
  text-transform: uppercase;
}
h1 {
  font-size: 2em;
  color: #ec1c24;
}
h2 {
  font-size: 1.4em;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.App {
  /*background-color: #181818;*/
  /*background: linear-gradient(180deg, rgba(37,37,37,1) 0%, rgba(25,25,25,1) 12%, rgba(18,18,18,1) 100%);*/
  /*background: linear-gradient(143deg, rgba(37,37,37,1) 0%, rgba(25,25,25,1) 25%, rgba(18,18,18,1) 100%);*/
  background-image: linear-gradient(to right bottom, #252525, #222222, #1e1e1e, #1b1b1b,
   #181818, #171717, #151515, #141414, #141414, #131313, #131313, #121212);
  background-attachment: fixed;
}

/* page spacing */
.header {
  margin: 0 auto;
}
.wrapper {
  max-width: 650px;
  margin: 0 auto;
  padding: 3em 1.8em 6em;
}

.wrapper > * + * {
  margin-top: 2em;
}

.tagline {
  display: none;
}

/* desktop */

@media only screen and (min-width: 1040px) {
  .tagline {
    display: block;
    position: fixed;
    top: 3em;
    left: 1em;

    font-weight: bold;
    font-family: Archivo Black;
    color: white;
    line-height: 1em;
    text-transform: uppercase;
  }
}

/* entry styling */

.entry {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0.4em;
  margin-top: 0.5em;
  /*border-bottom: 1px solid #303030;*/
  border-radius: 4px;
  background-color: #212121;
 
  -webkit-box-shadow:5px 5px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:5px 5px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:5px 5px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  

  
}

.entry:hover{
  background-color: #303030;
}
.entry > * {
  /* display: table-cell; */
  /* vertical-align: middle; */
  /* position: relative; */
}

.entry .link {
  display: flex;
  align-items: flex-start;
}

.entry .icon {
  height: 1.2em;
  width: 1.2em;
  margin-right: 0.4em;
}

.entry .hotnessIcon {
  height: 1em;
  width: 1em;
  position: absolute;
  left: -1.3em;
  
}

/* contact form */

form {
  width: 100%;
  margin-top: 2em;
}

form > * + * {
  margin-top: 1em;
}

.contact-thanks {
  animation: fadeIn ease 5s;
  display: none;
  color: white;
}

.contact-fields {
  color: white;
}

.contact-fields > * + * {
  margin-top: 1em;
}

input,
textarea,
button {
  border: none;
}

button {
  padding: 0;
  font-size: 1em;
  color: #ec1c24;
  font-family: Archivo Black, sans-serif;
  text-transform: lowercase;
  cursor: pointer;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
  height: 1em;
  display: inline-block;
  border-bottom: 2px solid white;
  padding: 0.2em 0;
  outline: none;
  overflow: hidden;
  background-color: transparent;
  color: white;
}
textarea {
  resize: none;
}
